@{
    ViewData["Title"] = "Checkout";
}
@model Address
<h1>Checkout - payment</h1>

<p>This is your shopping cart checkout</p>

<div>
    <form asp-action="Index" asp-controller="Address">
        <label asp-for="Street"></label>
        <input type="text" asp-for="Street" placeholder="Street"/>
        <label asp-for="City"></label>
        <input type="text" asp-for="City" placeholder="City"/>
        <label asp-for="Country"></label>
        <input type="text" asp-for="Country" placeholder="Country"/>
        <label asp-for="FullName"></label>
        <input type="text" asp-for="FullName" placeholder="FullName"/>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" placeholder="Email"/>
        <label asp-for="Phone"></label>
        <input type="text" asp-for="Phone" placeholder="Phone"/>
        <label asp-for="Zip"></label>
        <input type="text" asp-for="Zip" placeholder="Zip"/>
        <input type="submit"/>
    </form>
</div>