@{
    ViewData["Title"] ="Payment";
}
@model Codecool.CodecoolShop.Models.PaymentInfo;


<p>This is your payment checkout</p>

<label for="fname">Accepted Cards</label>
<div>
    <img src="~/img/creditcards.png" width="200"/>
</div>

<div>
    <form asp-action="Index" asp-controller="Payment">
    <label asp-for="NameOnCard"></label>
        <input type="text" asp-for="NameOnCard" placeholder="Name on Card"/>
        <label asp-for="CardNumber"></label>
        <input type="text" asp-for="CardNumber" placeholder="Card Number">
        <label asp-for="ExpMonth"></label>
        <input type="text" asp-for="ExpMonth" placeholder="Expire Month">
        <label asp-for="ExpYear"></label>
        <input type="text" asp-for="ExpYear" placeholder="Expire Year">
        <label asp-for="CVV"></label>
        <input type="text" asp-for="CVV" placeholder="CVV">
        <input type="submit"/>
    </form>
</div>