@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<<<<<< HEAD
<p>Use this page to detail your site's privacy policy.</p>
=======
<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> r1remote/development
